attrs==23.2.0
cattrs==23.2.3
certifi==2023.11.17
charset-normalizer==3.3.2
flatbuffers==23.5.26
idna==3.6
numpy==1.26.3
openmeteo_requests==1.1.0
openmeteo_sdk==1.7.2
pandas==2.2.0
platformdirs==4.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5Designer==5.14.1
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
python-dateutil==2.8.2
pytz==2023.4
requests==2.31.0
requests-cache==1.1.1
retry-requests==2.0.0
shiboken6==6.6.1
six==1.16.0
tzdata==2023.4
url-normalize==1.4.3
urllib3==2.1.0
